.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27.5rem;
  border: 1.5px solid #dbdbdb;
  border-radius: 1px;
  background-color: #ffffff;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 2rem;
}

.logo {
  margin: 1.69rem auto;
  width: 215px;
}

.logo:hover {
  cursor: pointer;
}

.control {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.control input {
  font: "sans-serif";
  font-size: 15.5px;
  height: 50px;
  width: 335px;
  background-color: #fafafa;
  color: #262626;
  border-radius: 2px;
  border: 1.5px solid #dbdbdb;
  text-align: left;
  padding: 0.3rem;
}

.control input::placeholder {
  color: #8e8e8e;
  padding-left: 0.5rem;
}

.control input:focus {
  font-size: 15.5px;

  text-align: left;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  font-weight: bolder;
  font-size: 16.5px;
  color: white;
  background-color: #0095f6;
  border: 1px solid #0095f6;
  border-radius: 4px;
  width: 335px;
  height: 40px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 5px;
}

.actions button:hover {
  cursor: pointer;
}

.orSperator {
  display: flex;
  align-items: center;
  width: 335px;
  height: 18px;
  margin: 24px 0px 0px;
}

.line_1 {
  height: 1.2px;
  background-color: #dbdbdb;
  width: 100%;
  margin-right: 20px;
}

.orWord {
  font: inherit;
  font-weight: 530;
  font-size: 16px;
  color: #8e8e8e;
}

.line_2 {
  height: 1.2px;
  background-color: #dbdbdb;
  width: 100%;
  margin-left: 20px;
}

.loginExample {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginDescriber {
  color: #385185;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.loginCredentialEmail {
  color: #01376b;
  margin: 2px;
}

.loginCredentialPassword {
  color: #01376b;
  margin: 2px;
  /* margin-bottom: 1px; */
}

.signUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 27.5rem;
  height: 80px;
  border: 1.5px solid #dbdbdb;
  border-radius: 1px;
  background-color: #ffffff;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  padding: 1rem;
}

.signUpDescription {
  font: "sans-serif";
  font-size: 17px;
}

.signUpButton {
  border: none;
  background-color: white;
  font-size: 18px;
  color: #0095f6;
  font-weight: 700;
}

.signUpButton:hover {
  cursor: pointer;
}

.download {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.getTheApp {
  font-size: 17px;
  font: "sans-serif";
  text-align: center;
  margin: 10px 20px;
}

.googlePlayAppStore {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.googlePlay {
  margin: 10px 4px;
}

.appStore {
  margin: 10px 4px;
}
